---
title: Home
layout: default
lang: de
ref: home
menu: '/'
menu_en: '/en'
---
<section class="slider">
    <div class="container">
        {% include slider.html %}
    </div>
</section>
<div class="container">
    <div class="jumbotron">
        {% include jumbotron.md %}
    </div>
    <div class="row">
    {% assign downloads = site.downloads | where:"layout","download" | where:"homepage","true" | where:"lang", page.lang | sort: 'updated','first' %}
    {% for record in downloads reversed limit:3 %}
        <div class="col-md-4">
            {% if record.image_big %}
                {% if record.website %}
                    <a href="{{ record.link }}">
                {% else %}
                    <a href="{{ record.url }}">
                {% endif %}
                <img class="img-responsive" src="{{"/assets/images/downloads/thumbs/home/"}}{{ record.image_big }}" alt="{{ record.title }}"></a>
            {% else %}
              <a href="{{ record.link }}">
                  <img class="img-responsive" data-src="holder.js/350x150/text:Kein Bild" alt="{{ record.title }}">
              </a>
            {% endif %}
            {% if record.wip %}
                <div class="ribbon-wrapper-green"><div class="ribbon-green">WIP</div></div>
            {% endif %}
            <h3>{{ record.title }} <small>{{ record.version}}</small></h3>
            <p>{{ record.introduction }}</p>
            {% if record.wip %}
                <p><a class="btn btn-default" href="{{ record.link }}" role="button">Mehr Informationen &raquo;</a></p>
            {% else %}
                {% if record.website %}
                    <p><a class="btn btn-default" href="{{ record.url }}" role="button">Zur Website &raquo;</a></p>
                {% else %}
                    <p><a class="btn btn-default" href="{{ record.url }}" role="button">Zum Download &raquo;</a></p>
                {% endif %}
            {% endif %}
        </div>
        <hr class="visible-xs visible-sm">
    {% else %}
        <div class="col-md-4">
            Keine Downloads
        </div>
    {% endfor %}
    </div>
    <a class="btn btn-default pull-right" href="/downloads" role="button">Weitere Downloads &raquo;</a><br>
    <hr class="featurette-divider">
    <div class="row">
    <div class="col-md-8">
{% assign posts = site.posts | where:"lang",page.lang %}
    {% for record in posts limit:1 %}
        <div class="blog-post">
            <h2 class="blog-post-title">{{ record.title }}</h2>
  {% assign date_format = site.minima.date_format | default: "%e. %B %Y" %}
            <p class="blog-post-meta">Geschrieben von {{ record.author }} am {{ record.date | date: date_format }}</p>
            {% if record.image %}
                <a href="{{ record.url }}"><img class="img-responsive" src="{{"assets/images/blog/"}}{{ record.image }}" alt="{{ record.title }}"></a>
            {% endif %}
            {% if racord.image_extern %}
            <a href="{{record.url}}"><img class="img-responsive" src="{{record.image_extern}}" alt="{{post.title | escape}}" /></a>
            {% endif %}
            <p>{{ record.excerpt }}</p>
            <a class="btn btn-default" href="{{ record.url }}" role="button">Mehr lesen &raquo;</a>
        </div>
    {% endfor %}
    </div>
        <aside class="col-md-4 hidden-sm hidden-xs">
            <h4>Weitere Einträge</h4>
            <ul class="nav nav-pills nav-stacked">
                    {% for record in posts %}
                        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                        <li><a href="{{ record.url }}">&raquo; {{ record.title }}</a></li>
                    {% else %}
                        <li>Keine Blogeinträge</li>
                    {% endfor %}
                </ul>
        </aside>
    </div>
    <div class="row">
        <hr class="featurette-divider">
        {% if jekyll.environment == 'production' and site.google_ads %}
            {% include google_ad_banner.html %}
        {% endif %}
    </div>
