<div id="comments">
  {% if site.data.comments[page.slug] %}
    {% assign comments = site.data.comments[page.slug] | sort %}
    {% for comment in comments %}
      {% assign index       = forloop.index %}
      {% assign avatar      = comment[1].avatar %}
      {% assign email       = comment[1].email %}
      {% assign name        = comment[1].name %}
      {% assign url         = comment[1].url %}
      {% assign date        = comment[1].date %}
      {% assign usermessage     = comment[1].usermessage %}
      {% assign replying_to = comment[1].replying_to | to_integer %}
      {% include comment.html index=index avatar=avatar email=email name=name url=url date=date usermessage=usermessage replying_to=replying_to %}
    {% endfor %}

  {% else %}
    {{site.data[page.lang].string.no_comments}}
  {% endif %}
</div>
<div class="jumbotron" id="respond">
    <form name="comment" id="comment-form" class="form js-form" method="POST" netlify>
      <div class="form__spinner mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
      <fieldset>
        
        <!-- Form Name -->
        <legend>{{site.data[page.lang].string.new_comment}} <small><a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | relative_url }}#respond" style="display:none;">{{site.data[page.lang].string.cancel_reply}}</a></small></legend>
        <!-- e.g. "2016-01-02-this-is-a-post" -->
        <input type="hidden" id="comment-post-id" name="slug" value="{{ page.slug }}">
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" class="form-control" required name="name" type="text" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input id="email" class="form-control" required name="email" type="email" placeholder="email@domain.com">
        </div>
        <div class="form-group">
          <label for="message">{{site.data[page.lang].string.message}}</label>
          <textarea id="message" required class="form-control" rows="4" name="fields[usermessage]"></textarea>
        </div>
        <br />
        <!-- Start comment form alert messaging -->
        <div class="hidden js-notice notice">
          <p class="js-notice-text"></p>
        </div>
        <!-- End comment form alert messaging -->
        <button class="btn btn-primary" type="submit" id="comment-submit" data-loading-text="<i class='fas fa-cog fa-spin'></i> {{site.data[page.lang].string.loading}}...">{{site.data[page.lang].string.submit_comment}}</button>
      </fieldset>
    </form>
</div>
<script async src="https://www.google.com/recaptcha/api.js"></script>
<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body" id="myModalBody">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
