<div id="comment{% unless include.r %}{{ index | prepend: '-' }}{% else %}{{ include.index | prepend: '-' }}{% endunless %}" class="comment {% unless include.replying_to == 0 %}child{% endunless %}">
    <img class="avatar" alt="avatar" src="https://www.gravatar.com/avatar/{{email}}" alt="Gravatar">
    <div class="body">
        <strong>{{name}}</strong>
        <span>&middot; {{ date | date: "%d.%m.%Y" }}</span>
        <hr />
        {{ usermessage | markdownify }}
        <div class="reply">
            <a rel="nofollow" class="btn btn-default" href="#comment-{{ include.index }}" onclick="return addComment.moveForm('comment-{{ include.index }}', '{{ include.index }}', 'respond', '{{ page.slug }}')"><i class="fas fa-reply"></i> Reply to {{ include.name }}</a>
        </div>
    </div>
</div>

{% capture i %}{{ include.index }}{% endcapture %}
{% assign replies = site.data.comments[page.slug] | sort | where_exp: 'comment', 'comment[1].replying_to == i' %}
{% for reply in replies %}
  {% assign index       = forloop.index | prepend: '-' | prepend: include.index %}
  {% assign replying_to = reply[1].replying_to | to_integer %}
  {% assign avatar      = reply[1].avatar %}
  {% assign email       = reply[1].email %}
  {% assign name        = reply[1].name %}
  {% assign url         = reply[1].url %}
  {% assign date        = reply[1].date %}
  {% assign message     = reply[1].message %}
  {% include comment.html index=index replying_to=replying_to avatar=avatar email=email name=name url=url date=date message=message %}
{% endfor %}