<footer>
    <div class="container">
        <div class="row" id="footer-nav">
            <div class="col-sm-3">
                <h4>Navigation</h4>
                <ul class="nav nav-pills nav-stacked">
                  {% for menu in site.data.[page.lang].menu %}
                    <li {% if page.url == menu[1].url %} class="active" {% endif %}><a href="{{ menu[1].url }}">{{ menu[1].name }}</a></li>
                  {% endfor %}
                </ul>
            </div>

            <div class="col-sm-3">
                <h4>Blog</h4>
                <ul class="nav nav-pills nav-stacked">
                        {% assign posts = site.posts | where:"lang",page.lang %}
                    {% if posts %}
                        {% for post in posts %}
                                    <li><a href="{{ post.url }}">&raquo; {{ post.title }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>Keine Blogeinträge</li>
                    {% endif %}
                </ul>
            </div>

            <div class="col-sm-3">
                <h4>Downloads</h4>
                <ul class="nav nav-pills nav-stacked">
                    {% if site.downloads %}
                        {% assign downloads = site.downloads | where:"layout","download" | where:"lang",page.lang | sort: 'updated','first' %}
                        {% for post in downloads reversed limit:4 %}
                            {% if post.website!="true" %}
                                <li><a href="{{ post.url }}">&raquo; {{ post.title }}</a></li>
                            {% else %}
                                <li><a href="{{ post.link }}">&raquo; {{ post.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <li>Keine Downloads</li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-sm-3" id="searchbox-footer">
                <h4>{{ site.data[page.lang].string.weiteres }}</h4>
                <a href="mailto:info@gcmods.de" aria-label="Email">
                    <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                </a>
                {% if site.twitter_username %}
                <a href="http://twitter.com/{{site.twitter_username}}" aria-label="Twitter">
                    <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                </a>
                {% endif %}
                {% if site.github_username %}
                <a href="http://github.com/gcworld" aria-label="Github">
                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                </a>
                {% endif %}
                <a href="http://youtube.com/user/gcWorldMods">
                    <i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://plus.google.com/109173837731421213069" rel="publisher" aria-label="Google Plus">
                    <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i>
                </a>

                <br>
                <!-- Pledgie went offline. Consider sending money via Paypal 
                <h4>{{ site.data[page.lang].string.support }}</h4>
                <a href='https://pledgie.com/campaigns/23884'>
                    <img alt='Click here to lend your support to: gcWorld Modifications and make a donation at pledgie.com !' src='https://pledgie.com/campaigns/23884.png?skin_name=chrome' border='0' >
                </a>-->
            </div>
        </div>
        <hr>
        <p class="pull-right"><a class="green" href="#">Back to top</a></p>
        <p>&copy; {{ 'now' | date: "%Y" }} gcmods.de &middot; <a class="green" href="/impressum">Impressum</a>
    </div>
</footer>







        <!-- Bootstrap core JavaScript

        ================================================== -->

        <!-- Placed at the end of the document so the pages load faster -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js"></script>

        <script>$('#tooltip').tooltip();</script>

        <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
        <script type="text/javascript">
            window.cookieconsent_options = {"message":"Wir verwenden Cookies, um Inhalte und Anzeigen zu personalisieren und die Zugriffe auf unsere Website zu analysieren. Außerdem geben wir Informationen zu Ihrer Nutzung unserer Website an unsere Partner für Werbung weiter.","dismiss":"OK","learnMore":"Details ansehen","link":"http://http://www.gcmods.de/impressum#datenschutz","theme":"dark-bottom"};
        </script>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
        <!-- End Cookie Consent plugin -->

{% if jekyll.environment == 'production' and site.google_analytics %}
{% include google-analytics.html %}
{% endif %}
