<header>

    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    {% if page_paths %}
    <div class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
      <div class="container">
      <a class="navbar-brand" href="{{ site.data.[page.lang].menu.home.url }}"><img src="{{ "assets/images/gcworld_modifications_org.png" | relative_url }}" height="44" width="296" title="{{ site.title | escape }}" alt="{{ site.title | escape }}"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="nav navbar-nav">
                  {% for menu in site.data.[page.lang].menu %}
                    <li class="nav-item {% if page.menu == menu[1].url %} active {% endif %}{% if page.menu_en == menu[1].url %} active {% endif %}"><a class="nav-link {{page.menu}} {{ menu[1].url }}" href="{{ menu[1].url }}">{{ menu[1].name }}</a></li>
                  {% endfor %}
                    <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true"><img id="imgNavSel" src="/assets/images/{{ page.lang }}.png" alt="..." class="icon-small"> <span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" role="menu">
                      {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
                      {% for post in posts %}
                        
                          <a href="{{ post.url }}" class="dropdown-item {{ post.lang }} language"><img src="/assets/images/{{ post.lang }}.png" alt="{{ post.lang }}" /> {{ post.lang }}</a>
                        
                      {% endfor %}

                      {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                      {% for page in pages %}
                        
                          <a href="{{ page.url }}" class="dropdown-item {{ page.lang }} language"><img src="/assets/images/{{ page.lang }}.png" alt="{{ page.lang }}" /> {{ page.lang }}</a>
                        
                      {% endfor %}
                      {% assign dls=site.downloads | where:"ref", page.ref | sort: 'lang' %}
                      {% for page in dls %}
                        
                          <a href="{{ page.url }}" class="dropdown-item {{ page.lang }} language"><img src="/assets/images/{{ page.lang }}.png" alt="{{ page.lang }}" /> {{ page.lang }}</a>
                        
                      {% endfor %}
                      </div>
                </li>
                </ul>
            </div>
          </div>
    </div>

    {% endif %}
</header>
