<header>

    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    {% if page_paths %}
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ site.data.[page.lang].menu.home.url }}"><img src="{{ "assets/images/gcworld_modifications_org.png" | relative_url }}" height="44" width="296" title="{{ site.title | escape }}" alt="{{ site.title | escape }}"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  {% for menu in site.data.[page.lang].menu %}
                    <li {% if page.menu == menu[1].url %} class="active" {% endif %}><a href="{{ menu[1].url }}">{{ menu[1].name }}</a></li>
                  {% endfor %}
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img id="imgNavSel" src="/assets/images/{{ page.lang }}.png" alt="..." class="icon-small"> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
                      {% for post in posts %}
                        <li>
                          <a href="{{ post.url }}" class="{{ post.lang }} language"><img src="/assets/images/{{ post.lang }}.png" alt="{{ post.lang }}" /> {{ post.lang }}</a>
                        </li>
                      {% endfor %}

                      {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                      {% for page in pages %}
                        <li>
                          <a href="{{ page.url }}" class="{{ page.lang }} language"><img src="/assets/images/{{ page.lang }}.png" alt="{{ page.lang }}" /> {{ page.lang }}</a>
                        </li>
                      {% endfor %}
                      {% assign dls=site.downloads | where:"ref", page.ref | sort: 'lang' %}
                      {% for page in dls %}
                        <li>
                          <a href="{{ page.url }}" class="{{ page.lang }} language"><img src="/assets/images/{{ page.lang }}.png" alt="{{ page.lang }}" /> {{ page.lang }}</a>
                        </li>
                      {% endfor %}
        	          </ul>
                </li>
                </ul>
            </div>
        </div>
    </div>

    {% endif %}
</header>
