<header>
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    {% if page_paths %}
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ "/" | relative_url }}"><img src="{{ "assets/images/gcworld_modifications_org.png" | relative_url }}" height="44" width="306" title="{{ site.title | escape }}" alt="{{ site.title | escape }}"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li {% if page.url == "/" %} class="active" {% endif %} >
                        <a href="/">Home</a>
                    </li>
                    <li {% if page.menu == "blog" %}class="active"{% endif %}>
                        <a href="/blog">Blog</a>
                    </li>
                    <li {% if page.menu == "downloads" %}class="active"{% endif %}>
                        <a href="/downloads">Downloads</a>
                    </li>
                    <li {% if page.url == "/kontakt.html" %}class="active"{% endif %}>
                        <a href="/kontakt">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% endif %}
</header>
