<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }}{% endif %} | {{ site.title | escape }}</title>
  <meta name="theme-color" content="#222">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/jquery.bxslider.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/jquery.fancybox.min.css" | relative_url }}" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
  {% for post in posts %}
    <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url }}" />
  {% endfor %}
  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for page in pages %}
    <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />
  {% endfor %}

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1971845371325330",
        enable_page_level_ads: true
      });
    </script>
</head>
