<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
<li data-target="#carousel-example-generic" data-slide-to="1"></li>
<li data-target="#carousel-example-generic" data-slide-to="2"></li>
<li data-target="#carousel-example-generic" data-slide-to="3"></li>
<li data-target="#carousel-example-generic" data-slide-to="4"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
    <div class="item active">
        <a href="/downloads/ibiscontrol">
            <img src="{{ "assets/images/slider/ibiscontrol-mainsite.png" }}" alt="...">
        </a>
        <div class="carousel-caption">
          IBIScontrol
        </div>
    </div>
    <div class="item">
        <a href="/downloads/euro-mod">
            <img src="{{ "assets/images/slider/euro_10_header.jpg" }}" alt="...">
        </a>
      <div class="carousel-caption">
        Euro Mod
      </div>
    </div>
    <div class="item">
        <a href="/downloads/gcw-strassenobjekte">
            <img src="{{ "assets/images/slider/bagger3.png" }}" alt="...">
        </a>
        <div class="carousel-caption">
        Straßenobjekte
      </div>
    </div>
    <div class="item">
        <a href="/downloads/gcw-strassenobjekte">
            <img src="{{ "assets/images/slider/fra_night.png" }}" alt="...">
        </a>
      <div class="carousel-caption">
        Frankfurter Haltestellenset
      </div>
    </div>
    <div class="item">
        <a href="/downloads/gcw-strassenobjekte">
            <img src="{{ "assets/images/slider/slide1.jpg" }}" alt="...">
        </a>
      <div class="carousel-caption">
        Straßenobjekte
      </div>
    </div>

</div>

<!-- Controls -->
<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
