{{ define "main" }}
<section class="slider">
    <div class="container">
        {{ partial "slider.html" . }}
    </div>
</section>
<div class="container">
    <div class="jumbotron">
        {{ partial "jumbotron.md" . }}
    </div>
    <div class="card-deck">
    {{ range (  (where .Pages "Type" "downloads" )  | first 3 ) }}
        <div class="card">
            {{ if .Page.Params.image_big }}
                {{ if .Page.Params.website }}
                    <a href="{{ .Page.Params.link }}">
                {{ else }}
                    <a href="{{ .Page.Params.url }}">
                {{ end }}
                <img class="card-img-top" src="{{"/images/downloads/thumbs/home/"}}{{ .Page.Params.image_big }}" alt="{{ .Page.Params.title }}"></a>
            {{ else }}
              <a href="{{ .Page.Params.link }}">
                  <img class="card-img-top" data-src="holder.js/350x150/text:Kein Bild" alt="{{ .Page.Params.title }}">
              </a>
            {{ end }}
            {{ if eq .Page.Params.category "lotus" }}
                <div class="ribbon-wrapper-green"><div class="ribbon-green">LOTUS</div></div>
            {{ end }}
            <div class="card-body">
                <h4 class="card-title">{{ .Page.Params.title }} <small>{{ .Page.Params.version}}</small></h4>
                <p class="card-text">{{ .Page.Params.introduction }}</p>
                {{ if .Page.Params.wip }}
                    <a class="btn btn-secondary" href="{{ .Page.Params.link }}" role="button">Mehr Informationen &raquo;</a>
                {{ else }}
                    {{ if .Page.Params.website }}
                        <a class="btn btn-secondary" href="{{ .Page.Params.url }}" role="button">Zur Website &raquo;</a>
                    {{ else }}
                        <a class="btn btn-secondary" href="{{ .Page.Params.url }}" role="button">Zum Download &raquo;</a>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    {{ end }}
    </div>
    <a class="mt-2 btn btn-light" href="/downloads" role="button">Weitere Downloads &raquo;</a>
    <hr class="featurette-divider">
    <div class="row">
    <div class="col-md-8">
        {{ range ( where .Site.RegularPages "Type" "blog" | first 1 ) }}
        <div class="blog-post">
            <h2 class="blog-post-title">{{ .Page.Params.title }}</h2>
            <p class="blog-post-meta">Geschrieben von {{ .Page.Params.author }} am {{ .PublishDate.Format "02. January 2006" }}</p>
            {{ if .Page.Params.image }}
                <a href="{{ .Page.Params.url }}"><img class="img-fluid" src="{{"assets/images/blog/"}}{{ .Page.Params.image }}" alt="{{ .Page.Params.title }}"></a>
            {{ end }}
            {{ if .Page.Params.image_extern }}
            <a href="{{.Page.Params.url}}"><img class="img-fluid" src="{{.Page.Params.image_extern}}" alt="{{.Page.Params.title }}" /></a>
            {{ end }}
            <p>{{ .Page.Summary }}</p>
            <a class="btn btn-secondary" href="{{ .Page.RelPermalink }}" role="button">{{ T "readMore" }} &raquo;</a>
        </div>
        {{ end }}
    </div>
        <aside class="col-md-4 hidden-sm hidden-xs">
            <h4>Weitere Einträge</h4>
            <ul class="nav nav-pills nav-stacked">
                    {{ range ( where .Site.RegularPages "Type" "blog" | after 1 | first 5 ) }}
                        <li><a href="{{ .Page.RelPermalink }}">&raquo; {{ .Page.Title }}</a></li>
                    {{ else }}
                        <li>Keine Blogeinträge</li>
                    {{ end }}
                </ul>
        </aside>
    </div>
    <div class="row">
        <hr class="featurette-divider">
        {{ if .Site.Params.google_ads }}
            {{ partial "google_ad_banner.html" }}
        {{ end }}
    </div>

{{ end }}