---
layout: main
---
<div class="row">
    <article class="col-md-8" role="content">

      <header>
        <h2>{{ page.title | escape }} <small>{{ page.version }}</small></h2>
      </header>

      <a data-fancybox href="{{ "/assets/images/downloads/" }}{{ page.image_big }}">
        <img src="{{ "/assets/images/downloads/thumbs/" }}{{ page.image_big }}" class="img-thumbnail"/>
      </a>

      <div>
        {{ content }}

        {{ page.changelog }}
      </div>

      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>
</div>
