---
layout: main
---

<div class="row">
    <article class="col-md-8" role="content">

      <header>
        <h2>{{ page.title | escape }} <small>{{ page.version }}</small></h2>
      </header>

      <a data-fancybox href="{{ "/assets/images/downloads/" }}{{ page.image_big }}">
        <img src="{{ "/assets/images/downloads/thumbs/big/" }}{{ page.image_big }}" class="img-thumbnail"/>
      </a>

      <p></p>

      {{ page.introduction }}
      <p></p>
      {{ content }}

      {% if page.image_list %}
      <h3>Bilder</h3>
        {% for image in page.image_list %}
            <a href="{{ "/assets/images/downloads/"}}{{ image.filename }}" data-fancybox="group" data-caption="{{ image.title }}">
                <img src="{{ "/assets/images/downloads/thumbs/"}}{{ image.filename }}" class="img-thumbnail">
            </a>
        {% endfor %}
      {% endif %}

      {% if page.video_list %}
      <h3>Videos</h3>
        {% for video in page.video_list %}
            <a data-fancybox="video" href="https://www.youtube.com/embed/{{ video.yt }}">
                <img src="https://i1.ytimg.com/vi/{{ video.yt }}/default.jpg" class="img-thumbnail">
            </a>
        {% endfor %}
      {% endif %}

    </article>

    <aside class="col-md-4">
        <h4><i class="fa fa-download"></i> Download</h4>
        <div class="pull-center">
            {% if page.wip %}
                Noch nicht verfügbar!
            {% else %}
                {% if page.exe %}
                    <a class="btn btn-default btn-lg btn-primary btn-block" role="button" href="{{ page.exe }}">Download<br><small>.exe {{page.version}}</small></a>
                {% endif %}
                    {% if page.zip-alt %}
                        <a href="{{ page.zip-alt }}">Alternativ als .zip</a>
                    {% endif %}
                {% if page.zip %}
                    <a class="btn btn-default btn-lg btn-primary btn-block" role="button" href="{{ page.zip }}">Download<br><small>.zip {{page.version}}</small></a>
                {% endif %}
                {% if page.ams %}
                    <a class="btn btn-default btn-lg btn-danger btn-block" role="button" href="{{ page.ams }}">Download<br><small>.ams {{page.version}}</small></a>
                {% endif %}

                {% if page.beta %}
                    <a id="tooltip" data-toggle="tooltip" title="Beta-Versionen wurden in der Regel auf ihre Funktion getestet. Es wird aber trotzdem dringend empfohlen ein Backup anzulegen!" class="btn btn-default btn-lg btn-warning btn-block" role="button" href="{{ page.beta }}">Beta Download<br><small class="white">{{ page.beta-format }} {{page.beta-version}}</small></a>
                {% endif %}

                {% if page.android %}
                    <a id="tooltip" data-toggle="tooltip" title="Android Apps werden über den Google Play Store zur Verfügung gestellt." class="btn btn-default btn-lg btn-success btn-block" role="button" href="{{page.android}}">Android Download<br><small>.apk {{page.beta-version}}</small></a>
                {% endif %}
            {% endif %}
        </div>
        <h4><i class="fa fa-info-circle"></i> Informationen</h4>
        <table class="table table-condensed">
        <tr>
            <td>Version</td>
            <td>{{ page.version }}
                {% if page.updated %}
                    <small>({{ page.updated | date: "%e. %B %Y" }})</small>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Lizenz</td>
            {% if page.copyright == '2017' %}
                <td>&copy; 2017</td>
            {% elsif page.copyright == '2013' %}
                <td>&copy; 2013</td>
            {% elsif page.copyright == '2015' %}
                <td>&copy; 2015</td>
            {% elsif page.copyright == 'cc-by-nc' %}
                <td><a href="http://creativecommons.org/licenses/by-nc/3.0/deed.de"><img src="{{"/assets/images/copyright/by-nc.png"}}" alt="Creative Commons by-nc" height="15" width="80"></a></td>
            {% elsif page.copyright == 'cc-by' %}
                <td><a href="http://creativecommons.org/licenses/by/3.0/deed.de"><img src="{{"/assets/images/copyright/by.png"}}" alt="Creative Commons by" height="15" width="80"></a></td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
        <tr>
            <td>OMSI Version</td>
            <td>{{ page.omsi_version }}</td>
        </tr>
        <tr>
            <td>Veröffentlicht am</td>
            <td>{{ page.released | date: "%e. %B %Y" }}</td>
        </tr>
        <tr>
            <td>Author</td>
            <td>{{ page.author }}</td>
        </tr>
        {% if page.link_forum %}
        <tr>
            <td colspan="2"><a href="{{ page.link_forum }}">Beitrag im off. OMSI Forum</a></td>
        </tr>
        {% endif %}
        {% if page.link_bugtracker %}
        <tr>
            <td colspan="2"><a href="http://github.com/{{ record.link_bugtracker }}/issues">Bugtracker</a></td>
        </tr>
        {% endif %}

        {% if record.donate %}
        <tr>
            <td>Projekt unterstützen</td>
            <td colspan="2">{{ record.donate }}</td>
        </tr>
        {% endif %}
        </table>
    </aside>

    <aside class="col-md-4">
        {% include google_ad_sidebar.html %}
    </aside>
</div>

      {% if page.comments %}
      <hr>
      <h3>Kommentare</h3>
        {% include comments.md %}
      {% endif %}

</div>
