---
layout: main
---

  <div class="" role="content" id="download-listing">
    <h1 class="page-heading">Downloads</h1>

    {{ content }}

  </div>
    {% assign downloads = site.downloads | where:"layout","download" | where:"category","lotus" | where:"lang",page.lang | sort: 'updated','last' %}
      {% if downloads %}
      
    <h2 id="lotus">LOTUS Downloads</h2>
    <div class="row row-cols-1 row-cols-md-3">
      {% for post in downloads reversed %}
      <div class="col mb-4">
        <div class="card">
          {% if post.website %}
            <a href="{{ post.link }}" class="">
          {% else %}
            <a href="{{ post.url }}" class="">
          {% endif %}
            {% if post.image_list.first %}
              <img class="card-img-top" src="{{ "/assets/images/downloads/thumbs/"}}{{post.image_list.first.filename}}" alt="{{post.title}}" />
            {% endif %}
          </a>
            
                    <div class="card-body">
                      <h2 class="card-title">{{post.title}} <small>{{post.version}}</small>{% if post.exe %}
                        <span class=""><i class="fa fa-file"></i> .exe</span>
                        {% endif %}{% if post.ams %}
                        <img class="am" src="{{ "/assets/images/"}}am.png" alt="Addon Manager Icon" height="35">
                        {% endif %}{% if post.android %}
                        <i class="fab fa-android android-c fa-2x"></i>
                        {% endif %}</h2>

                    <p class="card-text">{{ post.introduction }}</p>
                  </div>
        </div>
      </div>
      {% endfor %}
    </div>
	  {% else %}
	  {% endif %}

    {% assign downloads = site.downloads | where:"layout","download" | where:"category","omsi" | where:"lang",page.lang | sort: 'updated','last' %}
      {% if downloads %}
      
    <h2 id="omsi">OMSI Downloads</h2>
    <div class="row row-cols-1 row-cols-md-3">
		  {% for post in downloads reversed %}
      <div class="col mb-4">
        <div class="card">
          {% if post.website %}
            <a href="{{ post.link }}" class="">
          {% else %}
            <a href="{{ post.url }}" class="">
          {% endif %}
            {% if post.image_list.first %}
              <img class="card-img-top" src="{{ "/assets/images/downloads/thumbs/"}}{{post.image_list.first.filename}}" alt="{{post.title}}" />
            {% endif %}
          </a>
            
                    <div class="card-body">
                      <h2 class="card-title">{{post.title}} <small>{{post.version}}</small>{% if post.exe %}
                        <span class=""><i class="fa fa-file"></i> .exe</span>
                        {% endif %}{% if post.ams %}
                        <img class="am" src="{{ "/assets/images/"}}am.png" alt="Addon Manager Icon" height="35">
                        {% endif %}{% if post.android %}
                        <i class="fab fa-android android-c fa-2x"></i>
                        {% endif %}</h2>

                    <p class="card-text">{{ post.introduction }}</p>
                  </div>
        </div></div>
      {% endfor %}
    </div>
	  {% else %}
	  {% endif %}
</div>
<!-- Sidebar -->

<aside class="col-md-3">
  <div class="panel">
    <h4><i class="fa fa-file"></i> .exe {{ site.data[page.lang].string.installer }}</h4>

    <p>
        {{ site.data[page.lang].string.installer_desc }}
    </p>
  </div>

    <div class="panel">
      <h4>OMSI Addon Manager</h4>

      <p>
        {{ site.data[page.lang].string.oam_desc }}
      </p>
    </div>
    {% if jekyll.environment == 'production' and site.google_ads %}
    <div class="panel">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- gcmods download list -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-1971845371325330"
           data-ad-slot="8168357009"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    {% endif %}


</aside>

<!-- End Sidebar -->

</div>
